body{
	background-color: #000000;
}
#searchDiv{
	margin-top:10%;
	margin-left:5%;
	margin-right:5%;
}
#searchBtn{
	width:20%;
	height:10%;
	margin-bottom:10%;
	margin-left:78.5%;
}
#shelfDiv{
	color:#FFFFFF;
	width:87%;
	margin-left:6.5%;
}
.book{
	width: 275px;
	height: 385px;
}
.legenda{
	margin-bottom:10px;
	font-size:24px;
	font-weight: bold;
	text-align: center;
	color:#FFFFFF;
	width:269px;
	height:75px;
	margin-top:-2px;
	margin-left:2px;
	background-color:#202020;
}
#infoDiv{
	margin-top:50px;
	margin-left:50px;
	margin-right: 50px;
	margin-bottom: 25px;
	color:#a9a9a9;
	font-size: 40px;
}	
#capa{
	width:880px;
	height:1224px;
	margin-bottom:25px;
}
#readBtn{
	width:880px;
	height:75px;
	margin-left:50px;
	margin-right:50px;
	font-size: 32px;
}
#infoDiv #infoTitulo{
	font-size:60px;
	font-weight: bold;
	color:#C9c9c9;
}
